/* ==========================
   01 - MENU FULLPAGE CSS
========================== */

.panel {
    position: fixed;
    right: -100%; /*left or right and the width of your navigation panel*/
    width: 100%; /*should match the above value*/
}

.menu-link i {
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}

#menu{
    background: rgba(30, 36, 41, 0.9);
    z-index: 998;
}

#menu ul{
    margin-top: 140px;
}

#menu li{
    transition: all 0.4s ease;
    padding: 10px 20px 10px 35px;
}

#menu li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0;
}

#menu li:hover{
    /*background: rgba(33, 33, 33, 0.8);*/
	background: rgba(244, 67, 54, 0.8);
}

.menu-link {
  z-index: 9999;
  display: block;
  position: absolute;
  top: 18px;
  right: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 0px;
  height: auto;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
  background-color: transparent;
}

.menu-link:focus {
  outline: none;
}

.menu-link span {
  display: block;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: #676d72;
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.menu-link span::before,
.menu-link span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #676d72;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.menu-link span::before {
  top: -5px;
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.menu-link span::after {
  bottom: -5px;
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.menu-open {
  background-color: transparent;
}

.menu-open span {
  background: none;
}

.menu-open span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open span::before,
.menu-open span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}



.sidesocial {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 25px 0px 0px 35px;
}
.sidesocial a {
	float: left;
	padding: 0px;
	margin: 0px 7px 0px 0px;
	color: #2a363f;
	font-size: 12px;
	background: #fff;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	transition: all 0.3s ease;
}
.sidesocial a:hover {
	/*opacity: 0.65;*/
	background: #006699;
	color: #fff;
}

.sidesocial .facebook a:hover {
	/*opacity: 0.65;*/
	background: #006699;
	color: #fff;
}

.sidesocial .twitter a:hover {
	/*opacity: 0.65;*/
	background: #00BCD4;
	color: #fff;
}

.sidesocial .youtube a:hover {
	/*opacity: 0.65;*/
	background: #F44336;
	color: #fff;
}




